<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error page</title>
</head>
<body>
    <main>
        <h2>Error</h2>
        <strong>404</strong>
        <span><%= error ? error : 'Erro desconhecido' %></span><span><%= error %></span>
    </main>
</body>
</html>