<div class="flex-container">
  <form action="/login/register" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <div class="form-input-container">
      <label for="input-username">UserName:</label>
      <input type="text" id="username" name="username" pattern="[a-zA-Z0-9]+" maxlength="20" required>
    </div>
    <div class="form-input-container">
      <label for="password">Senha</label>
      <input type="password" name="password" id="password" />
    </div>
    <div class="form-input-container">
      <label for="input-email">Email:</label>
      <input type="email" name="email" id="email" />
    </div>
    <button class="btn-submit" type="submit">Fazer Cadastro</button>
  </form>
</div>
