<form action="login/register" method="post">
    <label for="input-email">Email:</label>
    <input type="email" name="register[email]" id="email">
    <label for="password">Senha</label>
    <input type="password" name="register[password]" id="password">
    <button type="submit">Fazer Cadastro</button>
    </form>