<body>
    <%- include('./nav')%>
    <main>
        <section>
            <h2>Seja bem Vindo de Volta!</h2>
            <h4 class="subtitle">Faça login Para Postar</h4>
           
            <%- include('../templates/messages.ejs') %>
            <%- include('../templates/forms/formLogin.ejs')%>
        </section>
    </main>