<body>
    <%- include('./nav')%>
    <main>
        <section>
            <h2>Seja bem Vindo!</h2>
            <h4>Cadastre-se Para Poder Postar na Plataforma</h4>
            <%- include('../templates/messages.ejs') %>
            <%- include('../templates/forms/formRegister.ejs')%>
        </section>
    </main>
</body>