<% if (errors.length > 0) { %>
    <div class="container-messages error">
        <% errors.forEach(erro => { %>
            <span><%= erro %></span>
        <% }); %>
    </div>
<% } %>
<% if (success.length > 0) { %>
    <div class="container-messages success">
        <% success.forEach(success => { %>
            <span><%= success %></span>
        <% }); %>
    </div>
<% } %>