<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Entrar</a></li>
            <li><a href="/register">Cadastrar</a></li>
        </ul>
    </nav>
</header>